* {
  margin: 0;
  padding: 0;
}

.navbar-logo {
  background-color: #0f2455;
  padding: 30px;
  color: aliceblue;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.body {
  text-align: center;
  color: #0f2455;
  font-family: 'Poppins', sans-serif;
  padding-top: 80px;
  padding-bottom: 50px;
}

.koran {
  column-count: 3;
  width: 60%;
  display: block;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  color: #0f2455;
}

.foto img {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.button {
  text-align: center;
}

.button-y {
  background-color: #aa0000;
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 20px;
}

.button-g {
  background-color: #aa0000;
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 5px;
  cursor: pointer;
  border-radius: 20px;
}

.footer {
  background-color: #0f2455;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: white;
  padding: 20px;
  margin-top: -10px;
  font-size: 20px;
}

@media screen and (max-width: 480px) {
  .navbar-logo {
    font-size: 13px;
  }

  .body h1 {
    font-size: 30px;
    width: 70%;
    text-align: center;
    display: block;
    margin: auto;
    padding: auto;
  }

  .koran {
    column-count: 1;
    font-size: 11px;
  }

  .foto img {
    width: 50%;
  }

  .button-y {
    font-size: 13px;
    padding: 10px 25px;
    border-radius: 10px;
  }

  .button-g {
    font-size: 13px;
    padding: 10px 25px;
    border-radius: 10px;
  }

  .footer {
    font-size: 10px;
  }
}
